<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LinkTree para divulgação de redes socias etc.">
    <meta name="keywords" content="animes, anime online, episódios de anime, lançamentos de anime">
    <meta name="author" content="Danilo Silva dos Santos">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="icon" href="../static/img/icons/filetype-py.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="icon" href="../static/img/instagram-ao-vivo.png">
    <title>MamisGamer</title>
</head>

<body>
    <div class="container">
        <div class="circle-shape">
            <a href="/" target="_blank" rel="noopener noreferrer">
                <img src="../static/img/Imagem do WhatsApp de 2024-01-20 à(s) 21.12.06_b30c328f.jpg" alt="MamisGamer"
                    class="profile-pic" />
            </a>
        </div>
        <a href="" target="_blank" rel="noopener noreferrer" class="ig-link">
            <h4> MamisGamer</h4>
        </a>
        <audio id="audioPlayer" preload="auto" controls autoplay >
            <source src="../static/audio/lofi6.mp3" type="audio/mp3">
            Seu navegador não suporta o elemento de áudio.
        </audio>
        <div class="link-list">
            <a href="" target="_blank" rel="noopener noreferrer">
                <div class="link-list-item dark">
                    <i class="bi bi-twitch"></i>
                    Segue na Twitch para lives divertidas.
                </div>
            </a>
            <a href="https://discord.gg/nABehdGrXK" target="_blank" rel="noopener noreferrer">
                <div class="link-list-item dark">
                    <i class="bi bi-discord"></i>
                    Nossa Comunidade do Discord
                </div>
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">
                <div class="link-list-item dark">
                    <i class="bi bi-tiktok"></i>
                    Vídeos divertidos nosso no TikTok
                </div>
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">
                <div class="link-list-item dark">
                    <i class="bi bi-instagram"></i>
                    Cosplay e meu dia a dia.
                </div>
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">
                <div class="link-list-item dark">
                    <i class="bi bi-twitter-x"></i>
                    Coisas aleatórias e Memes.
                </div>
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">
                <div class="link-list-item dark">
                    <i class="bi bi-youtube"></i>
                    Nosso canal no Youtuber
                </div>
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">
                <div class="link-list-item dark">
                    <i class="bi bi-amazon"></i>
                    Minha Lista de desejo Amazon.
                </div>
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">
                <div class="link-list-item dark">
                    <i class="bi bi-bag"></i>
                    Para informações adicionais ou parcerias, entre em contato via:
                </div>
            </a>
        </div>
        <footer id="footer">
            <div class="container">
                <div class="text-center">
                    <a href="https://www.instagram.com/valliant1312/" target="_blank">&copy; Copyright <strong>Danilo
                            Silva dos Santos</strong>
                </div>
            </div>
        </footer>
        <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../static/scripts/scripts.js"></script>
</body>

</html>